<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper
        PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.sean.mavendemo.main.mapper.RepoTagMapper'>

    <insert id="insert"
            parameterType="RepoTag"
            useGeneratedKeys="true"
            keyProperty="id">

        INSERT INTO repository_tags (
            repository_id,
            docker_tag_name,
            git_branch_name,
            git_tag_name,
            version
        ) VALUES (
            #{dockerRepoId},
            #{tagName},
            #{gitBranchName},
            #{gitTagName},
            #{version}
        );
    </insert>

</mapper>